:root {
    --height: 28px;
    --font-size: 14px;
    --font-size-btn: 12px;
}

.datetimeselect {
    position: relative;
    z-index: 100;
}

.datetimeselect__input {
    display: flex;
    justify-content: space-between;
    height: var(--height);
    font-size: var(--font-size);
}

.datetimeselect__dropdown__wraper {
    display: none;
    position: absolute;
    top: var(--height);
    left: 0;
    right: 0;
    border-style: solid;
    border-color: #96C8ED;
    border-width: 1px 0px 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    color: #15499F;
    background-color: #e6effd;
}

.datetimeselect__dropdown {
    justify-content: left;
    overflow-y: auto;
    align-content: space-between;
    min-height: 28px;
    max-height: 63px;
    padding-left: 7px;
    padding-right: 7px;
}

/* .dropdown_block{} */
.datetimeselect__backdrop {
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
}

.dropdown_line {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.dropdown_line:last-child {
    margin-bottom: 0px;
}

.datetimeselect__btn {
    width: 30%;
    margin-right: 7px;
    padding-top: 2px;
}

.btn-selected {
    background-color: #133f87;
}

.datetimeselect__btn span {
    font-size: var(--font-size-btn, 12px);
    justify-content: center;
    vertical-align: middle;
}

.datetimeselect.open .datetimeselect__dropdown__wraper {
    display: block;
    border-top: 0px;
}

.datetimeselect.open .datetimeselect__backdrop{
    display: block;
}
